<a href="https://colab.research.google.com/github/carolinaacosta31/CodingChanllenges/blob/master/PlatziDataChallenge_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## PlatziDataChallenge #1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [3]:
%cd '/content/drive/My Drive/Colab Notebooks/FundamentosEstadisticaPython'
!ls

/content/drive/My Drive/Colab Notebooks/FundamentosEstadisticaPython
bicicletas-compartidas.csv   sesion-10.ipynb  sesion-18.ipynb  sesion-5.ipynb
compensacion-ejecutivos.sav  sesion-12.ipynb  sesion-19.ipynb  sesion-6.ipynb
gender_submission.csv	     sesion-13.ipynb  sesion-20.ipynb  sesion-8.ipynb
iris-data.csv		     sesion-15.ipynb  sesion-21.ipynb  sesion-9.ipynb
peliculas.png		     sesion-16.ipynb  sesion-22.ipynb  test.csv
rating-peliculas.csv	     sesion-17.ipynb  sesion-4.ipynb   train.csv

## 1. Loading and getting some insights about the three files: gender_submission.csv, train.csv and test.csv

In [ ]:
file1 = 'gender_submission.csv'
df_submission = pd.read_csv(file1)
df_submission.info()

In [ ]:
file2 = 'train.csv'
df_train = pd.read_csv(file2)
df_train.info()

In [ ]:
file3 = 'test.csv'
df_test = pd.read_csv(file3)
df_test.info()

## 2. Joining the three files accordingly

In [ ]:
df_test_tot = pd.merge(df_submission, df_test, how = 'outer', on= 'PassengerId')
df_test_tot.info()

In [ ]:
titanic_total = df_train.append(df_test)
titanic_total.info()

## 3. How many people were traveling on the Titanic?

In [9]:
titanic_total.shape

(1309, 12)

## 4. How many women and men survived?

In [41]:
titanic_total[titanic_total['Survived']==1]['Sex'].value_counts()

female    233
male      109
Name: Sex, dtype: int64

## 5. Top 10 of ages that survived

In [14]:
titanic_total[titanic_total['Survived']==1]['Age'].value_counts().head(10)

24.0    15
36.0    11
35.0    11
27.0    11
22.0    11
30.0    10
19.0     9
32.0     9
18.0     9
29.0     8
Name: Age, dtype: int64

## 6. Top 10 of ages that don't survived

In [13]:
titanic_total[titanic_total['Survived']==0]['Age'].value_counts().head(10)

21.0    19
28.0    18
25.0    17
18.0    17
22.0    16
19.0    16
30.0    15
24.0    15
29.0    12
20.0    12
Name: Age, dtype: int64

## 7. Which personal titles were on the Titanic? Example: Captain, Mrs. Miss., etc. (Using regular expressions)

In [ ]:
titanic_total['Name'].iloc[1]

In [ ]:
titanic_total['titles'] = titanic_total['Name'].str.extract(', (\w+\.)')
titanic_total['titles']

In [24]:
titanic_total.groupby('titles')['titles'].count().sort_values(ascending=False)

titles
Mr.          757
Miss.        260
Mrs.         197
Master.       61
Dr.            8
Rev.           8
Col.           4
Ms.            2
Mlle.          2
Major.         2
Don.           1
Dona.          1
Sir.           1
Jonkheer.      1
Lady.          1
Mme.           1
Capt.          1
Name: titles, dtype: int64

## 8. How much was the total sum of the tickets prices in USD of the Titanic? 
According to this [website](https://autumnmccordckp.weebly.com/tickets-and-accomodations.html) the price of a First-Class ticket of the Titanic were about £870 or $4350. \\
So, we can say that the currency conversion in 1912 was about 5 dollars per pound.

In [23]:
np.around(titanic_total['Fare'].sum()*5,decimals=2)

217752.43